/******** Course *********/

#intro {
width: 90%;
margin: 10px auto 10px auto;
}

main {
  margin: 0 10% 0 10%;
}

.info-icon {
  margin-left: 5px;
  width: 18px;
  height: 18px;
}

.section-title-container {
  margin: 10px 0 0 5px;
  display: flex;
  width: 306px;
}

.section-titles {
  display: flex;
}

.course-text-input {
  width: 300px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  margin: 5px 0 0 5px;
}

.course-number-input {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  margin: 5px 0 0 5px;
  width: 80px;
}


/*** SECTION 2 ***/
#section-2 {
  display: none;
}

/*** SECTION 3 ***/
#section-3 {
  display: none;
}