/*** General ***/
main {
  margin: 0 10% 0 10%;
}

/*** Buttons ***/

.button-container {
  margin-top: 50px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
}
.course-button {
  border: solid gray 3px;
  text-transform: uppercase;
  font-size: 15px;
  padding: 5px 25px;
  background-color: white;
}

/*** Intro ***/

#intro {
  width: 90%;
  margin: 10px auto 10px auto;
}
#intro-header {
  margin: 30px 0;
}

#intro-paragraph {
  font-size: 20px;
  line-height: 40px;
}

/*** Info ***/

#info-header {
  margin: 30px 0;
}

.info-icon {
  margin-left: 5px;
  width: 18px;
  height: 18px;
}

.section-title-container {
  margin: 10px 0 0 5px;
  display: flex;
  width: 306px;
}

.section-titles {
  display: flex;
}

.course-text-input {
  width: 300px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  margin: 5px 0 0 5px;
}

.course-number-input {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  margin: 5px 0 0 5px;
  width: 80px;
}

/*** DISPLAY: NONE ***/
#basic-info, #section-1, #section-2, #section-3 {
  display: none;
}