header {
    height: 100px;
}

.active {
    color: #5B5859;
    text-decoration: underline;
}

.menu-container {
    display: flex;
    justify-content: space-evenly;
}

.menu-item { 
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 

    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}