/******** Course *********/

#intro {
  width: 75%;
  margin: 10px auto 10px auto;
}

/******** Resources *********/

#resource-items-container {
  width: 100%;
}

.item-container {
  display: flex;
  flex-direction: row;
}
.item-container {
  box-sizing: border-box;
  width: 100%;
  border-top: lightgray solid 1px;
  padding: 15px;
}

.item-image-container {
  height: 150px;
  width: 150px;
  padding-right: 40px;
}

.item-image {
  height: 150px;
  width: 150px;
  padding: 5px;
  border: 1px lightgray solid;
}

.resource-item-button {
  background-color: rgb(49, 49, 49);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 45px;
  margin-left: 50px;
}

.info-container {
  width: 75%;
}

div.info-container > * {
  margin: 0 0 10px 0;
}
.section-container {
  margin-top: 30px;
  padding-left: 10px;
}

.information-item-container {
  padding: 10px;
}

#video-container {
  width: 50%;
  margin: 0 auto 0 auto;
}

h2 {
  font-style: italic;
}